<div class="container color-dark">
  <div class="col">
    <p>List of bucket</p>
  </div>
  <div class="col">
    <p>Your bucket list ( {{count}} ) </p>
  </div>
</div>

<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="ms">Use the bellow form to add buckets</p>

    <form>
      <input type="text" class="txt" name="itme" placeholder="Life goals..." [(ngModel)] = "mygoals">
      <input type="submit" class="btn" [value]="btntext" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="container-life" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
      {{ goal }}
    </p>
  </div>
</div>